* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: Karla, sans-serif;
}

header {
	display: flex;
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
	align-items: center;
	padding: 20px;
	color: #fff;
	gap: 7px;
}

header > img {
	width: 30px;
}

header > h1 {
	font-weight: 700;
	font-size: 20.7482px;
	line-height: 24px;
	letter-spacing: -0.1em;
}

header > h3 {
	margin-inline: auto 37px;
	font-family: Inter, sans-serif;
	font-size: 12px;
	line-height: 15px;
}

.container {
	margin-top: 36px;
	width: 477px;
	margin-inline: auto;
}

.form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 17px;
}

.container input {
	width: 230px;
	border: 1px solid #d5d4d8;
	border-radius: 5px;
	padding: 11px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #0d0d0d;
}

.form button {
	cursor: pointer;
	width: 100%;
	background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
	border-radius: 5px;
	color: white;
	padding: 10px;
	border: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.1em;
}

#second-input {
	margin-left: auto;
}
